[package]
name = "symbiants_pkg"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[lib]
name = "symbiants_lib"
crate-type = ["cdylib", "rlib"]

[build-dependencies]
fs_extra = "1.2"

[dependencies]
bevy = { version = "0.12.1", default-features = false, features = [
  "bevy_asset",
  "bevy_scene",
  "bevy_winit",
  "bevy_render",
  "bevy_core_pipeline",
  "bevy_sprite",
  "bevy_text",
  "default_font",
  "png",
] }

bevy_ecs_tilemap = { git = "https://github.com/MeoMix/bevy_ecs_tilemap", branch = "main", features=["atlas"] }

bevy_egui = { version = "0.24.0" }
bevy_save = { version = "0.13.0" }
bevy_turborand = { version = "0.7.0" }
chrono = { version = "0.4.31", features = ["serde"] }
serde = { version = "1.0.188", features = ["derive"] }
sun-times = { version = "0.2.0" }

# WASM builds require extra dependencies for logging and persisting state to local storage.
# WASM builds do not require x11 and cannot use dynamic_linking.
[target.'cfg(target_family = "wasm")'.dependencies]
brotli = { version = "3.4.0" }
console_error_panic_hook = { version = "0.1.7" }
gloo-storage = "0.3.0"
js-sys = { version = "0.3.64", default-features = false }
rmp-serde = { version = "1.1.2" }
wasm-bindgen = { version = "0.2.87" }
web-sys = { version = "0.3.64", features = [
  "EventTarget",
  "Window",
  "BeforeUnloadEvent",
] }

# Linux builds require x11 or wayland for display.
[target.'cfg(not(target_family = "wasm"))'.dependencies]
bevy = { version = "0.12.1", default-features = false, features = [
  "x11",
  # TODO: support wayland w/ hardware accelerated GPU rendering. Currently crashes on startup and forces a Docker container restart.
  # "wayland",
  # dynamic_linking should not be enabled for two reasons:
  # 1. This application uses `mold` as the linker for native builds. https://bevyengine.org/learn/book/getting-started/setup/ states "Disabling bevy/dynamic may improve the performance of this linker."
  # 2. Debugging application fails to find `libbevy_dylib.so` in `debug` because it was expecting a base16 string in the filename.
  # "dynamic_linking",
] }

[dev-dependencies]
wasm-bindgen-test = "0.3.37"

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3
